@model IEnumerable<Market.Models.Ad>
<!DOCTYPE html>

<html>
<head>
    <title>Магазин</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
                ymaps.ready(function(){
                    var geolocation = ymaps.geolocation;
                    $('#cou').html('Ваша страна: '+geolocation.country);
                    $('#tow').html('Ваш город: '+geolocation.city);
                    $('#reg').html('Ваш регион: '+geolocation.region);
                });
            });
    </script>
</head>
<body>
    <vc:search-bar search-pager="@ViewBag.SearchPager"></vc:search-bar>
    <form asp-action="AdPage" method="post">
        <table class="table">
            <tr><td>Название</td><td>Продавец</td><td>Город</td><td>Цена</td><td>Email</td><td>Телефон</td></tr>
            @foreach (var item in Model)
            {
                <tr><td>@item.Name</td><td>@item.User.Name</td><td>@item.City</td><td>@String.Format("{0:C}", item.Price)</td><td>@item.User.Email</td><td>@item.User.Phone</td><td><button type="submit" name="AdId" id="@item.Id" value="@item.Id" class="btn btn-outline-dark">Подробнее</button></td><td></td></tr>


            }
        </table>
    </form>
    <div id="cou">Ваша страна: ... определяется ...</div>
    <div id="tow">Ваш город: ... определяется ...</div>
    <div id="reg">Ваш регион: ... определяется ...</div>
</body>
</html>
